# Dependencias de Node.js
node_modules/

# Variables de entorno
.env
.env.*

# Archivos generados durante el build
dist/
build/

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Configuración local de VS Code
.vscode/